DATABASE_URL="<Internal_Database_URL>"
DB_USER="<USERNAM>"
DB_PASSWORD="<YOUR_PASSWORD>"
DB_HOST="<YOUR_HOSTNAME"
DB_PORT=<YOUR_PORT>
DB_NAME=<YOUR_DATABASE>


PORT=3000

# link colab llm parse prompt
COLAB_NLU_URL=<YOUR_PINKGY_LINK>