DATABASE_URL="<Internal_Database_URL>"
DB_USER="<USERNAM>"
DB_PASSWORD="<YOUR_PASSWORD>"
DB_HOST="<YOUR_HOSTNAME"
DB_PORT=<YOUR_PORT>
DB_NAME=<YOUR_DATABASE>

# port backend đang chạy
PORT=3000

# link colab llm parse prompt
COLAB_NLU_URL=<YOUR_PINKGY_LINK>

# cấu hình firebase
FIREBASE_SERVICE_ACCOUNT={}

# Firebase Admin SDK (service account)
FIREBASE_PROJECT_ID=<YOUR_PROJECT_ID>
FIREBASE_PRIVATE_KEY_ID=<YOUR_PRIVATE_KEY_ID>
FIREBASE_PRIVATE_KEY=<YOUR_PRIVATE_KEY>
FIREBASE_CLIENT_EMAIL=<YOUR_CLIENT_EMAIL>
FIREBASE_CLIENT_ID=<YOUR_CLIENT_ID>